@import "components";
@import "constants";
@import "mixins";
@import "_function.scss";
@import "animation";

body{
  font-family: $BASE-FONT;
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: #0A2756;
  @include option(min-width,$DESKTOP,$MOBILE,$TABLET);
  &:has(.header__block_active){
    overflow: hidden;
  }
}

#root{
  position: relative;
  height: 100%;
}

.wrapper{
  position: relative;
  height: 100%;
  overflow: hidden;
}
